---
# calls a reusable workflow
name: Caller Workflow

on:
  push:
  workflow_dispatch:

jobs:
  call-reusable:
    uses: ./.github/workflows/reusable-workflow-callee.yaml
    with:
      myInput: "Hello from caller"
    secrets:
      mySecret: "myp455w0rd"
